@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #040c04;
    font-family: "Nunito", sans-serif;
  }
}

@layer components {
  .primary-navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    position: fixed;
    inset: 10% 0% 0 0;
    overflow: hidden;
    z-index: 100;
    transform: translateY(-150%);
    transition: transform 500ms ease-in-out;
    background: #040c0c;
  }
  .primary-navigation {
    @apply space-y-8;
  }
  .mobile-nav-toggle {
    z-index: 10000;
    border: none;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateY(0%);
  }

  @media (min-width: 768px) {
    .primary-navigation > * {
      cursor: pointer;
      position: relative;
    }

    .primary-navigation > *::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.1em;
      background: white;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in;
    }

    .primary-navigation > *.active {
      color: white;
      /* border-bottom: 0.1em solid #641c84; */
    }

    .primary-navigation > *:not(.active):hover::after {
      transform: scaleX(1);
    }

    /* .primary-navigation > :where(:not(:last-child)) {
      margin-right: 2rem;
    } */

    .blocks > .block__indicator {
      background: white;
    }
  }

  .carousel {
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .carousel__track {
    position: relative;
    height: 100%;
  }

  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    padding: 8px 10px;
    border-radius: 50%;
    border: 0;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  .carousel__button:hover,
  .carousel__button:focus {
    background: rgba(0, 0, 0, 0.2);
    color: yellow;
  }

  .carousel__button:focus {
    outline: 1px solid black;
  }

  .banner__text {
    height: 200px;
    position: absolute;
    margin-inline: auto;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.66),
      rgba(0, 0, 0, 0.5) 66%,
      transparent
    );
  }

  .arrows {
    overflow: hidden;
    z-index: 100;
  }
  .slides {
    inset: 0;
    position: absolute;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }

  .slides > h1 {
    text-shadow: 1px 1px 2px #cbcccc;
  }

  .prev {
    left: 1.5rem;
  }
  .next {
    right: 2rem;
  }

  .activex {
    position: relative;
    transition-delay: 0;
    opacity: 1;
  }

  .about__header::after {
    content: "";
    height: 2px;
    background-color: yellow;
    position: relative;
    display: block;
    left: 180px;
    padding-left: 1rem;
    bottom: 20px;
    width: 55%;
    z-index: 1;
  }

  .progress-bar {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
  }

  .vision__header::after {
    content: "";
    height: 2px;
    background-color: white;
    position: relative;
    display: block;
    left: 140px;
    padding-left: 1rem;
    bottom: 20px;
    width: 55%;
    z-index: 1;
  }
  /* .vision__pages_item {
    height: 100vh;
  } */
}
